@mixin button($width, $height) {
    margin: 60px auto;
    width: $width;
    height: $height;
    display: inline-block;
    border-radius: 25px;
    border: none;
    color: #fff;
    background-color: $primaryColor;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    transition: all .4s;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
    }
    &:focus {
        outline: none;
    }
}

@mixin switch($width) {
    margin: 20px auto;
    width: $width;
    display: flex;
    justify-content: space-evenly;
}

@mixin switchButton($width, $height) {
    width: $width;
    height: $height;
    color: white;
    background-color: $secondaryColor;
    border: none;
    font-size: 2.2rem;
    font-weight: 600;
    transition: all 0.7s;
    cursor: pointer;
}

@mixin cardSize($width, $height) {
    width: $width;
    height: $height;
}