
@media screen and (max-width: 800px) {

    html {
        font-size: 8px;
    }

    .btn-proceed {
        @include button(160px, 50px);
        margin: 20px auto;
    }

    .result-container .switch-display-buttons {
        @include switch(260px);
    }

    .result-container .switch-display-buttons button {
        @include switchButton(125px, 50px);
    }

    .switch-set-buttons {
        @include switch(260px);
    }

    .switch-set-buttons button {
        @include switchButton(125px, 50px);
    }

    .form-container .btn-choose-template {
        @include button(160px, 50px);
        margin: 20px auto;
    }

    .result-container .btn-choose-template {
        @include button(160px, 50px);
        margin: 20px auto;
    }

    .result-container .btn-start-over {
        @include button(160px, 50px);
        margin: 20px auto;
        margin-top: 300px;
    }

    .form-container .btn-return {
        top: 0;
        left: 10px;
    }

    .form-container .credit-card-form .inputs-container {
        margin-top: 150px;
    }

    .card-container {
        width: 420px;
        height: 270px;
    }
    .card-container .card .card-number {
        height: 30px;
        letter-spacing: 3px;
    }

    .card-container .card .card-logo {
        height: 40px;
    }

    .card-container .card .card-chip {
        height: 45px;
    }

    .card-container .static2 {
        transform: rotate(22deg) translate(40px, 160px);
    }

    .result-container .card-container {
        width: 372px;
        height: 240px;
    }

    .error-route-container .btn-find-route {
        @include button(160px, 50px);
        margin: 20px auto;
    }
}

@media screen and (max-width: 430px) {


    html {
        font-size: 5px;
    }

    .btn-proceed {
        @include button(120px, 40px);
        margin: 10px auto;
        letter-spacing: 2px;
    }

    .result-container .switch-display-buttons {
        @include switch(200px);
    }

    .result-container .switch-display-buttons button {
        @include switchButton(95px, 40px);
    }

    .switch-set-buttons {
        @include switch(200px);
    }

    .switch-set-buttons button {
        @include switchButton(95px, 40px);
    }

    .owl-stage-outer {
        height: 250px;
    }

    .form-container .btn-choose-template {
        @include button(120px, 40px);
        margin: 10px auto;
        letter-spacing: 2px;
    }

    .result-container .btn-choose-template {
        @include button(120px, 40px);
        margin: 10px auto;
        letter-spacing: 1px;
    }

    .result-container .btn-start-over {
        @include button(120px, 40px);
        margin: 10px auto;
        letter-spacing: 2px;
        margin-top: 250px;
    }

    .form-container .btn-return {
        top: 0;
        left: 15px;
    }

    .form-container .credit-card-form {
        margin-top: 160px;
    }


    .form-container .credit-card-form .inputs-container {
        margin-top: 100px;
    }

    .card-container {
        width: 310px;
        height: 200px;
    }

    .card-container .card .card-number {
        height: 20px;
        letter-spacing: 2px
    }

    .card-container .card .card-logo {
        height: 30px;
        width: auto;
    }

    .card-container .card .card-chip {
        position: absolute;
        height: 32px;
        width: auto;
    }

    .card-container .static2 {
        transform: rotate(22deg) translate(50px, 120px);
    }

    .result-container .card-container {
        width: 280px;
        height: 180px;
    }

    .error-route-container .btn-find-route {
        @include button(120px, 40px);
        margin: 10px auto;
        letter-spacing: 2px;
    }
}
