@import './Mixins';
@import './Variables';

.result-container {
    display: flex;
    flex-direction: column;
    .btn-choose-template {
        @include button(200px, 60px);
    }
    .switch-display-buttons{
        @include switch(310px);
        button {
            @include switchButton(150px, 60px);
            &:focus {
                outline: none;
            }
        }
        .btn-1 {
            border-radius: 25px 0px 0px 25px;
        }
        .btn-2 {
            border-radius: 0 25px 25px 0;
        }
        .isactive {
            background-color: $primaryColor;
            outline: none;
        }
    }
    .btn-start-over {
        @include button(150px, 50px);
        margin-top: 400px;
    } 
}