@import './Variables';
@import './Mixins';
@import './TemplatesSlider';
@import './CreditCard';
@import './CardForm';
@import './ResultDisplay';
@import './ErrorRoute';


body {
    background-color: $backgroundColor;
    .App {
      text-align: center;
      h1{
        margin: 50px auto;
        font-size: 58px;
        color: white;
        text-shadow: 2px 1px black;
      }
    }
  }
  

@import './Media';
