.owl-stage-outer {
  height: 380px;
}

.owl-nav button:hover {
  background-color: unset !important;
  -webkit-transform: scale(1.2) !important;
          transform: scale(1.2) !important;
}

.owl-nav button:focus {
  background-color: unset !important;
  background-color: none !important;
  outline: 0;
}

.btn-proceed {
  margin: 60px auto;
  width: 200px;
  height: 60px;
  display: inline-block;
  border-radius: 25px;
  border: none;
  color: #fff;
  background-color: #46D7D7;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.btn-proceed:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-proceed:focus {
  outline: none;
}

.switch-set-buttons {
  margin: 20px auto;
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.switch-set-buttons button {
  width: 150px;
  height: 60px;
  color: white;
  background-color: #546c6c;
  border: none;
  font-size: 2.2rem;
  font-weight: 600;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  cursor: pointer;
}

.switch-set-buttons button:focus {
  outline: none;
}

.switch-set-buttons .btn-1 {
  border-radius: 25px 0px 0px 25px;
}

.switch-set-buttons .btn-2 {
  border-radius: 0 25px 25px 0;
}

.switch-set-buttons .isactive {
  background-color: #46D7D7;
  outline: none;
}

.navButtons {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: 15px auto;
}

.navButtons button {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  font-size: 6rem;
  color: black;
  opacity: 0.4;
}

.navButtons button:hover {
  opacity: 1;
}

.card-container {
  width: 530px;
  height: 340px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.card-container .card, .card-container .card-back {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.8);
  border: 0px 6px 1px 0px solid black;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-position: center;
  background-size: cover;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.card-container .card {
  position: relative;
  z-index: 3;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 1px;
  position: relative;
  color: white;
  overflow: hidden;
}

.card-container .card .card-logo {
  position: absolute;
  height: 50px;
  width: auto;
  top: 7%;
  right: 10%;
}

.card-container .card .card-chip {
  position: absolute;
  height: 60px;
  width: auto;
  top: 7%;
  left: 10%;
}

.card-container .card .card-number {
  font-size: 3rem;
  padding: 5px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: 5px;
  width: 80%;
  margin-left: 2px;
  text-shadow: 1px 1px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-container .card .card-number .digits-container {
  min-width: 24%;
  text-align: left;
}

.card-container .card .details-row {
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card-container .card .details-row .details-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 6%;
  padding: 5px;
}

.card-container .card .details-row .details-column .details-card-holder,
.card-container .card .details-row .details-column .details-card-expires {
  font-size: 1.3rem;
  opacity: 0.7;
  text-transform: uppercase;
  text-shadow: 1px 1px #000000;
}

.card-container .card .details-row .details-column .card-holder,
.card-container .card .details-row .details-column .card-expires {
  color: white;
  font-size: 1.8rem;
  text-shadow: 1px 1px #000000;
  height: 1em;
}

.card-container .card .details-row .details-column.details-column:nth-child(2) {
  min-width: unset;
}

.card-container .card .input-highlighted {
  border: 2px solid #2d2d2d;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card-container .card-back {
  position: absolute;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-align: left;
  overflow: hidden;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.card-container .card-back .swipe-bar {
  width: 100%;
  height: 20%;
  background-color: black;
  margin: 5% auto;
  margin-top: 10%;
}

.card-container .card-back .cvv-bar {
  width: 90%;
  height: 15%;
  border-radius: 5px;
  background-color: white;
  text-align: right;
  margin: 2% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card-container .card-back .cvv-bar p {
  color: black;
  margin-right: 8px;
  font-size: 1.9rem;
}

.card-container .card-back .info {
  margin: 8px 5%;
  font-size: 1.6rem;
  text-shadow: 1px 1px black;
}

.card-container .active-card {
  -webkit-transform: rotateY(0deg) !important;
          transform: rotateY(0deg) !important;
}

.card-container .hidden-card {
  -webkit-transform: rotateY(-180deg) !important;
          transform: rotateY(-180deg) !important;
}

.card-container .static1, .card-container .static2,
.card-container .rotate1, .card-container .rotate2 {
  margin-top: 40px;
}

.card-container .static1 {
  -webkit-transform: rotate(-18deg) translate(-20px, 40px);
          transform: rotate(-18deg) translate(-20px, 40px);
}

.card-container .static2 {
  -webkit-transform: rotate(22deg) translate(100px, 200px);
          transform: rotate(22deg) translate(100px, 200px);
}

.card-container .rotate1 {
  animation: rotate1 10s linear infinite;
  -webkit-animation: rotate1 10s linear infinite;
  margin-top: 120px;
}

.card-container .rotate2 {
  animation: rotate2 10s linear infinite;
  -webkit-animation: rotate2 10s linear infinite;
  margin-top: 120px;
}

@-webkit-keyframes rotate1 {
  from {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
  }
}

@keyframes rotate1 {
  from {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
  }
}

@-webkit-keyframes rotate2 {
  from {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
}

@keyframes rotate2 {
  from {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
}

.form-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.form-container .btn-choose-template {
  margin: 60px auto;
  width: 200px;
  height: 60px;
  display: inline-block;
  border-radius: 25px;
  border: none;
  color: #fff;
  background-color: #46D7D7;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.form-container .btn-choose-template:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.form-container .btn-choose-template:focus {
  outline: none;
}

.form-container .btn-return {
  position: absolute;
  left: 5vw;
  top: 5vh;
  background: none;
  border: none;
  outline: none;
}

.form-container .btn-return i {
  font-size: 7rem;
  color: #46D7D7;
  cursor: pointer;
}

.form-container .credit-card-form {
  position: absolute;
  top: 350px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 80vw;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 20px auto;
  margin-bottom: 300px;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.form-container .credit-card-form .inputs-container {
  margin-top: 250px;
  padding: 15px;
  color: #222222;
  font-weight: 500;
}

.form-container .credit-card-form .inputs-container .input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.form-container .credit-card-form .inputs-container .input-row .input-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 2px;
}

.form-container .credit-card-form .inputs-container .input-row .input-column .card-input-label {
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}

.form-container .credit-card-form .inputs-container .input-row .input-column input, .form-container .credit-card-form .inputs-container .input-row .input-column select {
  background: none;
  border: 1px solid #22222240;
  border-radius: 5px;
  outline: none;
  width: 100%;
  margin: 5;
  height: 40px;
  vertical-align: bottom;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 2rem;
  color: white;
  font-weight: 600;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-family: 'Nunito Sans', sans-serif;
  text-align: left;
  color: #2d2d2d;
}

.form-container .credit-card-form .inputs-container .input-row .input-column input:focus, .form-container .credit-card-form .inputs-container .input-row .input-column select:focus {
  border: 1px solid #f8c007;
}

.form-container .credit-card-form .inputs-container .input-row .input-column input select, .form-container .credit-card-form .inputs-container .input-row .input-column select select {
  -webkit-appearance: none;
  text-align-last: center;
  cursor: pointer;
}

.form-container .credit-card-form .inputs-container .input-row .input-column input .cardCVV, .form-container .credit-card-form .inputs-container .input-row .input-column select .cardCVV {
  text-align: center;
}

.form-container .credit-card-form .inputs-container .input-row .input-column input .select-box, .form-container .credit-card-form .inputs-container .input-row .input-column select .select-box {
  position: relative;
  width: 100%;
}

.form-container .credit-card-form .inputs-container .btn-submit {
  margin: 30px auto;
  padding: 15px;
  width: 100%;
  height: 60px;
  font-size: 28px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: #f8c007;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.form-container .credit-card-form .inputs-container .btn-submit:active {
  background-color: #46D7D7;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.result-container .btn-choose-template {
  margin: 60px auto;
  width: 200px;
  height: 60px;
  display: inline-block;
  border-radius: 25px;
  border: none;
  color: #fff;
  background-color: #46D7D7;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.result-container .btn-choose-template:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.result-container .btn-choose-template:focus {
  outline: none;
}

.result-container .switch-display-buttons {
  margin: 20px auto;
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.result-container .switch-display-buttons button {
  width: 150px;
  height: 60px;
  color: white;
  background-color: #546c6c;
  border: none;
  font-size: 2.2rem;
  font-weight: 600;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  cursor: pointer;
}

.result-container .switch-display-buttons button:focus {
  outline: none;
}

.result-container .switch-display-buttons .btn-1 {
  border-radius: 25px 0px 0px 25px;
}

.result-container .switch-display-buttons .btn-2 {
  border-radius: 0 25px 25px 0;
}

.result-container .switch-display-buttons .isactive {
  background-color: #46D7D7;
  outline: none;
}

.result-container .btn-start-over {
  margin: 60px auto;
  width: 200px;
  height: 60px;
  display: inline-block;
  border-radius: 25px;
  border: none;
  color: #fff;
  background-color: #46D7D7;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
  margin-top: 400px;
}

.result-container .btn-start-over:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.result-container .btn-start-over:focus {
  outline: none;
}

.error-route-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error-route-container .btn-find-route {
  margin: 60px auto;
  width: 200px;
  height: 60px;
  display: inline-block;
  border-radius: 25px;
  border: none;
  color: #fff;
  background-color: #46D7D7;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.error-route-container .btn-find-route:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.error-route-container .btn-find-route:focus {
  outline: none;
}

.footer-container {
  min-height: 100vh;
  position: relative;
}

.footer-container .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #202020;
  color: white;
  font-size: 1.6rem;
  padding: 5px;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #033838;
  height: 100%;
}

body .App {
  text-align: center;
  height: 100%;
  position: relative;
}

body .App h1 {
  margin: 50px auto;
  font-size: 5.5rem;
  color: white;
  text-shadow: 2px 1px black;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 8px;
  }
  .btn-proceed {
    margin: 60px auto;
    width: 160px;
    height: 50px;
    display: inline-block;
    border-radius: 25px;
    border: none;
    color: #fff;
    background-color: #46D7D7;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    margin: 20px auto;
  }
  .btn-proceed:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .btn-proceed:focus {
    outline: none;
  }
  .result-container .switch-display-buttons {
    margin: 20px auto;
    width: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .result-container .switch-display-buttons button {
    width: 125px;
    height: 50px;
    color: white;
    background-color: #546c6c;
    border: none;
    font-size: 2.2rem;
    font-weight: 600;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    cursor: pointer;
  }
  .switch-set-buttons {
    margin: 20px auto;
    width: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .switch-set-buttons button {
    width: 125px;
    height: 50px;
    color: white;
    background-color: #546c6c;
    border: none;
    font-size: 2.2rem;
    font-weight: 600;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    cursor: pointer;
  }
  .form-container .btn-choose-template {
    margin: 60px auto;
    width: 160px;
    height: 50px;
    display: inline-block;
    border-radius: 25px;
    border: none;
    color: #fff;
    background-color: #46D7D7;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    margin: 20px auto;
  }
  .form-container .btn-choose-template:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .form-container .btn-choose-template:focus {
    outline: none;
  }
  .result-container .btn-choose-template {
    margin: 60px auto;
    width: 160px;
    height: 50px;
    display: inline-block;
    border-radius: 25px;
    border: none;
    color: #fff;
    background-color: #46D7D7;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    margin: 20px auto;
  }
  .result-container .btn-choose-template:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .result-container .btn-choose-template:focus {
    outline: none;
  }
  .result-container .btn-start-over {
    margin: 60px auto;
    width: 160px;
    height: 50px;
    display: inline-block;
    border-radius: 25px;
    border: none;
    color: #fff;
    background-color: #46D7D7;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    margin: 20px auto;
    margin-top: 300px;
  }
  .result-container .btn-start-over:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .result-container .btn-start-over:focus {
    outline: none;
  }
  .form-container .btn-return {
    top: 1vh;
    left: 1vw;
  }
  .form-container .credit-card-form {
    top: 320px;
  }
  .form-container .credit-card-form .inputs-container {
    margin-top: 100px;
  }
  .card-container {
    width: 420px;
    height: 270px;
  }
  .card-container .card .card-number {
    height: 30px;
    letter-spacing: 3px;
  }
  .card-container .card .card-logo {
    height: 40px;
  }
  .card-container .card .card-chip {
    height: 45px;
  }
  .card-container .static2 {
    -webkit-transform: rotate(22deg) translate(40px, 160px);
            transform: rotate(22deg) translate(40px, 160px);
  }
  .result-container .card-container {
    width: 372px;
    height: 240px;
  }
  .error-route-container .btn-find-route {
    margin: 60px auto;
    width: 160px;
    height: 50px;
    display: inline-block;
    border-radius: 25px;
    border: none;
    color: #fff;
    background-color: #46D7D7;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    margin: 20px auto;
  }
  .error-route-container .btn-find-route:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .error-route-container .btn-find-route:focus {
    outline: none;
  }
}

@media screen and (max-width: 430px) {
  html {
    font-size: 5px;
  }
  .btn-proceed {
    margin: 60px auto;
    width: 120px;
    height: 40px;
    display: inline-block;
    border-radius: 25px;
    border: none;
    color: #fff;
    background-color: #46D7D7;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    margin: 10px auto;
    letter-spacing: 2px;
  }
  .btn-proceed:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .btn-proceed:focus {
    outline: none;
  }
  .result-container .switch-display-buttons {
    margin: 20px auto;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .result-container .switch-display-buttons button {
    width: 95px;
    height: 40px;
    color: white;
    background-color: #546c6c;
    border: none;
    font-size: 2.2rem;
    font-weight: 600;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    cursor: pointer;
  }
  .switch-set-buttons {
    margin: 20px auto;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .switch-set-buttons button {
    width: 95px;
    height: 40px;
    color: white;
    background-color: #546c6c;
    border: none;
    font-size: 2.2rem;
    font-weight: 600;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    cursor: pointer;
  }
  .owl-stage-outer {
    height: 250px;
  }
  .form-container .btn-choose-template {
    margin: 60px auto;
    width: 120px;
    height: 40px;
    display: inline-block;
    border-radius: 25px;
    border: none;
    color: #fff;
    background-color: #46D7D7;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    margin: 10px auto;
    letter-spacing: 2px;
  }
  .form-container .btn-choose-template:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .form-container .btn-choose-template:focus {
    outline: none;
  }
  .result-container .btn-choose-template {
    margin: 60px auto;
    width: 120px;
    height: 40px;
    display: inline-block;
    border-radius: 25px;
    border: none;
    color: #fff;
    background-color: #46D7D7;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    margin: 10px auto;
    letter-spacing: 1px;
  }
  .result-container .btn-choose-template:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .result-container .btn-choose-template:focus {
    outline: none;
  }
  .result-container .btn-start-over {
    margin: 60px auto;
    width: 120px;
    height: 40px;
    display: inline-block;
    border-radius: 25px;
    border: none;
    color: #fff;
    background-color: #46D7D7;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    margin: 10px auto;
    letter-spacing: 2px;
    margin-top: 250px;
  }
  .result-container .btn-start-over:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .result-container .btn-start-over:focus {
    outline: none;
  }
  .form-container .btn-return {
    top: 1vh;
    left: 1vw;
  }
  .form-container .credit-card-form {
    top: 240px;
  }
  .card-container {
    width: 310px;
    height: 200px;
  }
  .card-container .card .card-number {
    height: 20px;
    letter-spacing: 2px;
  }
  .card-container .card .card-logo {
    height: 30px;
    width: auto;
  }
  .card-container .card .card-chip {
    position: absolute;
    height: 32px;
    width: auto;
  }
  .card-container .static2 {
    -webkit-transform: rotate(22deg) translate(50px, 120px);
            transform: rotate(22deg) translate(50px, 120px);
  }
  .result-container .card-container {
    width: 280px;
    height: 180px;
  }
  .error-route-container .btn-find-route {
    margin: 60px auto;
    width: 120px;
    height: 40px;
    display: inline-block;
    border-radius: 25px;
    border: none;
    color: #fff;
    background-color: #46D7D7;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    margin: 10px auto;
    letter-spacing: 2px;
  }
  .error-route-container .btn-find-route:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .error-route-container .btn-find-route:focus {
    outline: none;
  }
}
/*# sourceMappingURL=styles.css.map */