@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
    position: relative;
}

.form-container h1{
    margin: 50px auto;
    font-size: 58px;
    color: white;
    text-shadow: 2px 1px black;
}

.btn-choose-template {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 200px;
    height: 60px;
    display: inline-block;
    padding: .9rem 1.25rem;
    border-radius: 10rem;
    border: none;
    color: #fff;
    background-color: #f8c007;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    transition: all .4s;
}


.btn-choose-template:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #f8c007;
}

.btn-return {
    position: absolute;
    left: 5vw;
    top: 5vh;
    background: none;
    border: none;
    outline: none;
}

.btn-return i {
    font-size: 70px;
    color: #f8c007;
    cursor: pointer;
}


.credit-card-form{
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 700px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 20px auto;
    margin-bottom: 300px;
    -moz-box-shadow: 0px 15px 25px rgba(0,0,0,.8);
    -webkit-box-shadow: 0px 15px 25px rgba(0,0,0,.8);
    box-shadow: 0px 15px 25px rgba(0,0,0,.8);
    display: flex;
    z-index: 1;
}


.inputs-wrapper {
    margin-top: 250px;
    padding: 15px;
    color: #222222;
    font-weight: 500;
}

.input-row {
    display: flex;
    width: 100%;
}

.input-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 5px;
}

label{
    margin-bottom: 5px;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}

input, select{
    background: none;
    border: 1px solid #22222240;
    border-radius: 5px;
    outline: none;
    width: 100%;
    margin: 5;
    height: 40px;
    vertical-align: bottom;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 20px;
    color: white;
    font-weight: 600;
    transition: all 0.4s;
    font-family: 'Nunito Sans', sans-serif;
    text-align: left;
    color: #2d2d2d;   
}

input:focus, select:focus{
    border: 1px solid #f8c007;
}

select {
    -webkit-appearance: none;
    text-align-last:center;
    cursor: pointer;
  }


.cardCVV {
    text-align: center;
}

.select-box {
    position: relative;
    width: 100%;

}

.btn-submit {
    margin: 30px auto;
    padding: 15px;
    width: 100%;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #f8c007;
    outline: none;
    cursor: pointer;
    transition: background-color 0.4s;
}

.btn-submit:hover {
    background-color: #ca9b02;
}

.btn-submit:active {
    transform: translateY(4px);
    box-shadow: none;
}

/* .fa-caret-down{
    color: black;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
 */


input[type=number] {
    -moz-appearance: textfield;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media screen and (max-width: 800px) {
    input, select {
        font-size: 14px;
    }
    .credit-card-form {
        width: 80%;
    }
    .btn-return i {
        font-size: 30px;
    }
}
