@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
}

.form-container h1{
    margin: 50px auto;
    font-size: 58px;
    color: white;
    text-shadow: 2px 1px black;
}

.btn-choose-template {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 200px;
    height: 60px;
    display: inline-block;
    padding: .9rem 1.25rem;
    border-radius: 10rem;
    border: none;
    color: #fff;
    background-color: #f8c007;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    transition: all .4s;
}


.btn-choose-template:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #f8c007;
}

.btn-return {
    position: absolute;
    left: 5vw;
    top: 5vh;
    background: none;
    border: none;
    outline: none;
}

.btn-return i {
    font-size: 70px;
    color: #f8c007;
}


.credit-card-form{
    max-width: 100%;
    background-color: #2d2d2d;
    border-radius: 5px;
    margin: 20px auto;
    margin-bottom: 300px;
    -moz-box-shadow: 0px 5px 25px rgba(0,0,0,.6);
    -webkit-box-shadow: 0px 5px 25px rgba(0,0,0,.6);
    box-shadow: 0px 5px 25px rgba(0,0,0,.6);
}

.card-logo {
    position: absolute;
    height: 50px;
    width: auto;
    top: 30px;
    right: 30px;
}

.card-chip {
    position: absolute;
    height: 70px;
    width: auto;
    top: 20px;
    left: 30px;
}

.inputs-wrapper {
    padding: 15px;
    color: #f8c007;
    font-weight: 500;
}

.input-row {
    display: flex;
    width: 100%;
}

.input-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 5px;
}

label{
    margin-bottom: 12px;
    font-size: 22px;
}

input, select{
    background: #222222;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 100%;
    margin: 5;
    height: 40px;
    vertical-align: bottom;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 25px;
    color: white;
    font-weight: lighter;
    transition: all 0.4s;
    font-family: 'Exo 2', sans-serif;
    text-align: left;
}

input:focus, select:focus{
    background-color: #f8c007;
    color: black;
}

select {
    -webkit-appearance: none;
    text-align-last:center;
    cursor: pointer;
  }


.cardCVV {
    text-align: center;
}

.select-box {
    position: relative;
    width: 100%;

}

.btn-submit {
    margin: 30px auto;
    padding: 15px;
    width: 100%;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    outline: none;
    cursor: pointer;
    box-shadow: 0 4px #222222;
    transition: background-color 0.4s;
}

.btn-submit:hover {
    background-color: #f8c007;
}

.btn-submit:active {
    transform: translateY(4px);
    box-shadow: none;
}

/* .fa-caret-down{
    color: black;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
 */


input[type=number] {
    -moz-appearance: textfield;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}