.error-route-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-find-route {
    width: 200px;
    height: 60px;
    border-radius: 10rem;
    border: none;
    color: #fff;
    background-color: #46D7D7;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    transition: all .4s;
    cursor: pointer;
}

.btn-find-route:hover {
    transform: scale(1.05);
}